html body{
    font-family: 'Inter', sans-serif !important;
    color: #2b2b2b !important;
}

.card:hover {

  box-shadow: 5px 6px 6px 2px #e9ecef62;
  transform: scale(1.01);
}

.card{
  transition: all 0.2s ease;
  border-radius: 17px;
}

.border_top-rounded{
     border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

.border_bottom-rounded{
    border-radius: 0px 0px 15px 15px !important;
}

.no-border{
    border: none !important;
}

.font-6{
    font-size:6rem !important;
}

.font-5{
    font-size: 5rem !important;
}

.font-4{
    font-size: 4rem !important;
}

.font-3{
    font-size:3rem !important;
}

.font-2{
    font-size: 2rem !important;
}

.font-1{
    font-size: 1rem !important;
}

.hidden{
    display: none !important;
}