.font-6{
    font-size:6rem !important;
}

.font-5{
    font-size: 5rem !important;
}

.font-4{
    font-size: 4rem !important;
}

.font-3{
    font-size:3rem !important;
}

.font-2{
    font-size: 2rem !important;
}

.font-1{
    font-size: 1rem !important;
}