{% extends "layout.html.jinja2" %}
{% block body %}
<div class="container p-3">

<h1 class="text-dark"><strong>Détails</strong></h1>
<nav aria-label="breadcrumb" class="main-breadcrumb mx-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="./">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)">Détails de l'utilisateur</a></li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-4 pt-3 text-center">
        <img src="https://i.pravatar.cc/900" style="border-radius:50%; width:250px; weight:250px;" class="img-fluid">
        <h1 class="mt-3"><strong>{{student.first_name}} {{student.name}}</strong> </h1>
        <h4 class="text-primary">Promotion {{promo.annee}}</h4>
    </div>
	
    <div class="col-md-8 p-1">
        <h6 class="ms-1 text-primary fw-bold">Thématiques d’approfondissement choisis</h6>
        <div class="col-12 card p-3 mb-5" style="border: none; border-radius: 15px; width: 100%">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-start border border-0">

                    <div class="ms-1 me-2" style="font-size: 37px;">
                        <i class="bi bi-1-circle text-primary"></i>
                    </div>

                    <div class="ms-2 me-auto">
                        <h5 class="fw-bold me-2 mb-0">{{ taf1.name }}</h5>
                       <span class="text-secondary h6">TAF 1</span>
                    </div>

                    <div class="ms-1 me-2" style="font-size: 37px;">
                        <i class="bi bi-2-circle text-primary"></i>
                    </div>

                    <div class="ms-2 me-auto">
                        <h5 class="fw-bold me-3 mb-0">{{ taf2.name }}</h5>
                        <span class="text-secondary h6">TAF 2</span>
                    </div>

                </li>
            </ul>
        </div>

        <h6 class="ms-1 text-primary fw-bold">Parcours professionnel</h6>
        <div class="col-12 card p-3 mb-5" style="border: none; border-radius: 15px; width: 100%">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-start border-0 border-bottom">

                    <div class="ms-1 me-4" style="font-size: 37px;">
                        <i class="bi bi-briefcase text-success"></i>
                    </div>

                    <div class="ms-2 me-auto">
                        <h5 class="fw-bold me-3 mb-0">{{ stage.title}}</h5>
                       <span class="text-secondary h6">{{ stage.company.name }} ({% set start = stage.date_start | string() %}{{ start[:10] }} - {% set end = stage.date_end | string() %}{{ end[:10] }})</span>
                        <p class="text-dark p mb-0" onclick="detailed({{ stage.tuttor.id }})"><b>Tutor: </b> {{ stage.tuttor.first_name}} {{ stage.tuttor.name }}</p>
                        <p class="text-dark p mb-o"><b>Description: </b> {{ stage.resume }}</p>

                    </div>

                </li>
                {% for occupation in occupations %}
                <li class="list-group-item d-flex justify-content-between align-items-start border-0 border-bottom">
                        <div class="ms-1 me-4" style="font-size: 37px;"  id="occupation-{{ occupation.id }}">
                        <i class="bi bi-briefcase text-primary"></i>
                    </div>

                    <div class="ms-2 me-auto" id="occupation2-{{ occupation.id }}" >
                        <h5 class="fw-bold me-2 mb-0">{{ occupation.title }}</h5>
                       <span class="text-secondary h6">{{ occupation.company.name}} ({% set startC = occupation.start_date | string() %}{{ startC[:10] }})</span>
                        <p class="text-dark p"><b>Description: </b> {{ occupation.description}}</p>

                    </div>
                     <div  id="occupation3-{{ occupation.id }}">
                        {# <p style="font-weight: bold">{{ occupation.title }}</p> #}
                        {# <p>{{ occupation.start_date.strftime('%d-%m-%Y') }}<p> #}
                        <button class="btn btn-light text-danger"  onclick="deleteOccupation({{ occupation.id }})">
                        <i class="bi bi-trash"></i>
                            Delete
                        </button>
                    </div>

					
                </li>
                {% endfor %}

            </ul>
        </div>
    </div>

</div>
</div>

</div>
<script>
    function deleteOccupation(id) {
        console.log(id);
        let el = document.getElementById(`occupation-${id}`);
        let el2 = document.getElementById(`occupation2-${id}`);
        let el3 = document.getElementById(`occupation3-${id}`);
        let xhr = new XMLHttpRequest();
        let url = "../../delete/occupation";
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");

        // Create a state change callback
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
            }
        };
        var data = JSON.stringify({ "id": id});
        xhr.send(data);
        el.classList.add("hidden");
        el2.classList.add("hidden");
        el3.classList.add("hidden");
    }
    function detailed(promo){
        const url = "http://127.0.0.1:5000/detail/tuttor?id="+promo;
        window.location.href = url;
    };
</script>
{% endblock %}