{% extends "layout.html.jinja2" %}

{% block body %}



    <script>
    window.onload = function ea(e) {
        roleuser = window.sessionStorage.getItem("role")
        console.log(roleuser)
    }
    </script>
{% endblock %}