<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IMTAlumni</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="vendor/bootstrap/css/bootstrap.min.css") }}"/>
    <link rel="icon" type="image/x-icon" href="{{ url_for("static", filename="icon/favicon.ico")}}">
</head>
<body>
    <p>Hello there!</p>
    <script src="{{ url_for("static", filename="vendor/bootstrap/js/bootstrap.min.js") }}"></script>
</body>
</html>