<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>IMTAlumni</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{{ url_for("static", filename="vendor/bootstrap/css/bootstrap.min.css") }}" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{{ url_for("static", filename="vendor/tom-selectJS/tom-select.min.css") }}" crossorigin="anonymous"/>
    <link rel="icon" type="image/x-icon" href="{{ url_for("static", filename="icon/favicon.ico")}}" crossorigin="anonymous">
</head>
<body style="background-color:#f1f1f1">

<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg sticky-bottom bg-body-tertiary bg-white border_bottom-rounded mb-4">
          <div class="container-fluid">
            <a class="navbar-brand" style="margin-left:2rem;" href="#">
              <img src="{{ url_for("static", filename="img/Logo_Institut_Mines-Telecom.svg") }}" alt="Navbar" height="32">
               <span class="navbar-brand mb-0 h1 text-dark">IMT Alumni <strong>DCL Version</strong> </span>
            </a>
          </div>

            <div class="collapse navbar-collapse sessionActive hidden" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 sessionActive hidden">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/list/students">Élèves</a>
                </li>
              </ul>
            </div>
              <div class="btn-group sessionActive" style="margin-right: 4rem;" id="dropdown">
                  <button class="btn btn-primary" onclick="becomeAdmin()">Admin</button>
                  <button class="btn btn-secondary" onclick="becomeUser()">User</button>
                  <button class="btn btn-md dropdown-toggle text-primary" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-person-circle font-2"></i>
                  </button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Bonjour <strong id="nom_user">Utilisateur</strong> !</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/list/students">Élèves</a></li>
                      <li><a class="dropdown-item" href="/admin/taf/list" id="taf-list">TAFs</a></li>
                      <li><a class="dropdown-item" href="/admin/companies/list" id="enterprise-list">Entreprises</a></li>
                      <li><a class="dropdown-item" href="/admin/promo/list" id="promo-list">Promotion</a></li>
                      <li><a class="dropdown-item" href="/admin/internship/new">Créer Stage</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/login">Log out</a></li>
                  </ul>
              </div>
              <div class="btn-group noSessionActive" style="margin-right: 4rem;">
                  <a type="button" class="btn btn-primary" href="/login">Connection</a>
              </div>
        </nav>
    </div>
</header>
{% block body %}

{% endblock %}
    <script>
        validateSession();

        function validateSession(){

            let sessEls = document.getElementsByClassName(`sessionActive`);
            let noSessEls = document.getElementsByClassName("noSessionActive");

            const dataStorage = {
               isAdmin: sessionStorage.getItem("isAdmin"),
               sessionID:sessionStorage.getItem("sessionID")
            };

            console.log(sessEls)

            if(dataStorage.sessionID==undefined){
                console.log("empty session")
                for (let i = 0; i < sessEls.length; i++) {
                    sessEls[i].classList.add("hidden");
                }

                for (let i = 0; i < noSessEls.length; i++) {
                    noSessEls[i].classList.remove("hidden");
                }

                if(JSON.parse(dataStorage.isAdmin)){

                }
            }else{
                console.log("has session")
                for (let i = 0; i < sessEls.length; i++) {
                    sessEls[i].classList.remove("hidden");
                }

                for (let i = 0; i < noSessEls.length; i++) {
                    noSessEls[i].classList.add("hidden");
                }

            }
        }
    </script>
    <script src="{{ url_for("static", filename="vendor/popperJS/popper.min.js" ) }}"></script>
    <script src="{{ url_for("static", filename="js/scripts.js") }}"></script>
    <script src="{{ url_for("static", filename="vendor/bootstrap/js/bootstrap.min.js") }}"></script>
    <script src="{{ url_for("static", filename="vendor/tom-selectJS/tom-select.complete.js") }}"></script>
    <script>
        const menu = document.getElementById("dropdown");
        menu.onclick= function() {
            let taflist = document.getElementById("taf-list");
            let enterpriselist = document.getElementById("enterprise-list");
            let promolist = document.getElementById("promo-list");
            let role = window.sessionStorage.getItem("role");
            if (role=="admin") {
                taflist.classList.remove("hidden");
                enterpriselist.classList.remove("hidden");
                promolist.classList.remove("hidden");
            }
            else {
                taflist.classList.add("hidden");
                promolist.classList.add("hidden");
                enterpriselist.classList.add("hidden");
            }

        }
    </script>
</body>
</html>