{% extends "layout.html.jinja2" %}

{% block body %}
<script>
function detailed(promo){
        const url = "http://127.0.0.1:5000/detail/student?id="+promo;
        window.location.href = url;
    };
</script>
    <div class="container">

    <h1 class="text-dark"><strong>Listes des élèves</strong></h1>
    <!-- Breadcrumb -->
    <div style="opacity: 0">a</div>
      <!-- /Breadcrumb -->

    <!--ListStudents-->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 m-4">
        {% for student in students %}
        <div class="col mb-3">

          <div class="card hover no-border" style="border-radius: 15px;">
            <img src="https://www.bootdey.com/image/340x120/FFB6C1/000000" alt="Cover" class="card-img-top border_top-rounded">
            <div class="card-body text-center no-border">
              <img src="https://bootdey.com/img/Content/avatar/avatar1.png" style="width:100px;margin-top:-65px" alt="User" class="img-fluid img-thumbnail rounded-circle border-0 mb-3">
              <h5 class="card-title" onclick="detailed({{ student[0].id }})"><strong>{{ student[0].first_name }} {{ student[0].name}}</strong> </h5>
              <a class="nav-link"  href="../promo?promo={{ student[0].promo }}">Promotion : {{ student[1].annee }}</a>
              <p class="text-muted font-size-sm">Poste actuel : {{ student[0].occupation }}</p>
            </div>
            <div class="card-footer d-grid gap-2 d-md-flex justify-content-md-center border_bottom-rounded no-border">
              <a class="btn btn-light btn-md btn-block text-primary" href="/list/students/edit?id={{ student[0].id }}">
                  <i class="bi bi-pencil-fill"></i>
                  <strong>Edit</strong>
              </a>
              <button class="btn btn-light btn-md text-secondary" onclick="deleteStudent({{ student[0].id }})">
                  <i  class="bi bi-trash"></i>
                  <strong>Delete</strong>
              </button>
            </div>
          </div>

        </div>
        {%  endfor %}
    </div>
    <!--/ListStudents-->

    </div>
{% endblock %}

