{% extends "layout.html.jinja2" %}


{% block body %}
<div class="container p-3">

 <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="./">Home</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0)">Listes entreprises</a></li>
        </ol>
      </nav>


    <div class="card p-3" style="border: none; border-radius: 11px;">

            <table class="table  table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for company in companies %}
                    <tr>
                      <th scope="row">{{ company.id }}</th>
                      <td>{{ company.name }}</td>
                      <td>
                          <a class="btn btn-light btn-sm btn-block text-primary" >
                              <i class="bi bi-pencil-fill"></i>
                              <strong>Edit</strong>
                          </a>
                          <a class="btn btn-light btn-sm btn-block text-danger" >
                              <i class="bi bi-trash"></i>
                              <strong>Delete</strong>
                          </a>
                      </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
