{% extends "layout.html.jinja2" %}


{% block body %}
<div class="container p-3">

    <h1 class="text-dark"><strong>Listes Promotions</strong></h1>
     <nav aria-label="breadcrumb" class="main-breadcrumb mx-3">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="./">Home</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0)">Listes Promotions</a></li>
        </ol>
      </nav>


    <div class="card p-5" style="border: none; border-radius: 15px;">

            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th style="width:3%">ID</th>
                        <th style="width:75%">Années</th>
                        <th class="text-center" id="actions">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for promo in promos %}
                    <tr id="promo-{{ promo.id }}">
                        <th scope="row" >{{ promo.id }}</th>
                        <td id="label_name-{{ promo.id }}">{{ promo.annee }}</td>
                        <td id="edit_name-{{ promo.id }}" class="hidden">
                            <input type="text" class="form-control"  aria-describedby="Input_Promo-{{ promo.id }}_help" value="{{ promo.annee }}">
                        </td>
                        <td>
                            <a id="edit_btn-{{ promo.id }}"  class="btn btn-white btn-md btn-block text-primary" onclick="enableEditPromo('{% set iid = promo.id | string() %}{{ iid }}', '{% set yearPromo = promo.annee | string() %}{{ yearPromo }}')" >
                                <i class="bi bi-pencil-fill"></i>
                                <strong>Edit</strong>
                            </a>
                            <a id="delete_btn-{{ promo.id }}"  class="btn btn-white btn-md btn-block text-secondary" onclick="deletePromo({{ promo.id }})">
                                <i class="bi bi-trash"></i>
                                <strong>Delete</strong>
                            </a>


                            <a id="save_btn-{{ promo.id }}" class="btn btn-white btn-md btn-block text-success hidden" onclick="saveChangesPromos('{% set iid = promo.id | string() %}{{ iid }}')" >
                                <i class="bi bi-save2-fill"></i>
                                <strong>Save</strong>
                            </a>
                            <a id="discardEdit_btn-{{ promo.id }}" class="btn btn-white btn-md btn-block text-secondary hidden"
                                onclick="saveChangesPromos('{% set iid = promo.id | string() %}{{ iid }}')">
                                <i class="bi bi-x-lg"></i>
                                <strong>Discard</strong>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        function deletePromo(id) {
    console.log(id);
    let el = document.getElementById(`promo-${id}`);
    let xhr = new XMLHttpRequest();
    let url = "../../delete/promo";
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-Type", "application/json");

    // Create a state change callback
    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
        }
    };
    var data = JSON.stringify({ "id": id});
    xhr.send(data);
    el.classList.add("hidden");
}
    </script>
    <script>
    window.onload = function ea(e) {
    var num = "{{num}}"
    for (let i = 1; i < num+1; i++) {
        let el=document.getElementById(`promo-${i}`)
        let el2=document.getElementById('actions')
        roleuser = window.localStorage.getItem("role")
        console.log(roleuser)
        if (roleuser=="admin") {
            console.log("coucou")
            el.getElementsByClassName("btn")[0].style.visibility = 'visible';
            el.getElementsByClassName("btn")[1].style.visibility = 'visible';
            el2.classList.remove("hidden")
        }
        else {
            console.log("caché")
            el.getElementsByClassName("btn")[0].style.visibility = 'hidden';
            el.getElementsByClassName("btn")[1].style.visibility = 'hidden';
            el2.classList.add("hidden")
        }
    }
}
    </script>
{% endblock %}
